<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <section name="migrations" type="Remmicom.Financien.Derden.Data.EF.Configuration.MigrationSection, Remmicom.Financien.Derden.Data.EF"/>
    <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling "/>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging" requirePermission="true"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <system.data>
    <DbProviderFactories>
      <add name="Remmicom AS400 Entity Provider" invariant="Remmicom.Framework.RemDb2Client" support="FF" description=".Net Framework Data Provider for Remmicom DB2" type="Remmicom.Framework.Db2Client.RemDb2ClientFactory, Remmicom.Framework.Db2Client.EF6"/>
    </DbProviderFactories>
  </system.data>
  <connectionStrings>
    <add name="FinancienNet_BoekhoudingAS400" connectionString="DataSource=ASFICONV;Default Collection=VGBDTADEV;Library List=*USRLIBL,VGBDTADEV,VGBPGM,LANSAGPL;Pooling=true;Package Collection=VGBPGM;UserID=REMDOTCON;Password=Pind@3tand;DataCompression=True;checkConnectionOnOpen=True" providerName="Remmicom.Framework.RemDb2Client"/>
    <add name="FinancienNet_Financien" connectionString="Data Source=remappfiftr2\sql;Initial Catalog=RemmicomFinancienNetDb;Persist Security Info=True;User ID=sa;Password=pallels;MultipleActiveResultSets=True;Application Name=FinancienNet-Derden" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="ServiceResolverLocation" value="Remmicom.Financien.Common.Unity.ServiceResolver, Remmicom.Financien.Common.Unity"/>
    <add key="SecurityServerName" value="appserver-dev"/>
    <add key="GebruikersBeheerServerName" value="appserver-dev"/>
    <add key="derden:PersoonUrlBevolking" value="http://appserver-dev:8080/Services/Burgerzaken/Bevolking/Integratie/ConsultatieWebService.svc/rest/GetPersoonViaBevolking?rijksregisternummer={0}&amp;includetails={1}"/>
    <add key="derden:PersoonUrlRijksregister" value="http://appserver-dev:8080/Services/Burgerzaken/Bevolking/Integratie/ConsultatieWebService.svc/rest/GetPersoonViaRijksregisterEnReden?computerName={0}&amp;username={1}&amp;rijksregisternummer={2}&amp;redenOpvraging={3}"/>
    <add key="derden:OndernemingsUrl" value="http://appserver-dev:8080/Services/Rip/Referenties/RipWebService.svc/rest/ZoekOndernemingMetVestiging?ondernemingsofvestigingsNummer={0}&amp;naam={1}&amp;gemeente={2}&amp;postcode={3}&amp;straat={4}&amp;huisNummer={5}&amp;busNummer={6}&amp;land={7}&amp;enkelActief={8}&amp;enkelExtern={9}"/>
    <add key="derden:ToevoegenOndernemingUrl" value="http://appserver-dev:8080/Services/Rip/Referenties/RipWebService.svc/rest/ToevoegenOnderneming?ondernemingsNummer={0}"/>
    <add key="derden:ToevoegenVestigingUrl" value="http://appserver-dev:8080/Services/Rip/Referenties/RipWebService.svc/rest/ToevoegenVestiging?vestigingsNummer={0}&amp;ondernemingsNummer={1}"/>
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="Remmicom.Framework.RemDb2Client" type="Remmicom.Framework.Db2Client.RemDb2EntityProviderServices, Remmicom.Framework.Db2Client.EF6"/>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <migrations>
    <add assembly="Remmicom.Financien.Derden.Data.EF.dll" modelConfigurationType="FinancienDerdenModelConfiguration"/>
  </migrations>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation strict="false" explicit="true" targetFramework="4.5.2" debug="true"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.serviceModel>
    <diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" maxMessagesToLog="500"/>
    </diagnostics>
    <bindings>
      <basicHttpBinding>
        <binding name="WebHttpBinding_IWebRemoteLoggingService" sendTimeout="00:10:00" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" transferMode="Buffered">
          <security mode="None"/>
        </binding>
        <binding name="DefaultBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:02:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
        <binding name="basicHttpBindingBigQuoteBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:02:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <security mode="None"/>
        </binding>
        <binding name="secureBinding" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <security mode="None">
            <transport clientCredentialType="None"/>
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="noneSecureBinding" maxReceivedMessageSize="2147483647">
          <security mode="None"/>
        </binding>
        <binding name="secureBinding">
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None"/>
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://appserver-dev:8080/Admin/Services/administratie/WebRemoteLoggingService.svc" binding="basicHttpBinding" bindingConfiguration="WebHttpBinding_IWebRemoteLoggingService" contract="RemoteLogging.IWebRemoteLoggingService" name="WebHttpBinding_IWebRemoteLoggingService"/>
      <endpoint address="http://localhost:8080/customsettings.omgeving/services/financien/financiennet/RekeningService.svc" behaviorConfiguration="noneSecureEndpointBehavior" binding="wsHttpBinding" bindingConfiguration="noneSecureBinding" contract="RekeningServiceReference.IRekeningService" name="WSHttpBinding_IRekeningService"/>
      <endpoint address="http://localhost:8080/customsettings.omgeving/services/financien/financiennet/SectorenService.svc" behaviorConfiguration="noneSecureEndpointBehavior" binding="wsHttpBinding" bindingConfiguration="noneSecureBinding" contract="SectorenServiceReference.ISectorenService" name="WSHttpBinding_ISectorenService"/>
      <endpoint address="http://localhost:8080/customsettings.omgeving/services/financien/financiennet/BtwService.svc" behaviorConfiguration="noneSecureEndpointBehavior" binding="wsHttpBinding" bindingConfiguration="noneSecureBinding" contract="BtwServiceReference.IBTWService" name="WSHttpBinding_IBtwService"/>
      <endpoint address="http://localhost:8080/customsettings.omgeving/services/financien/derden/SynchronizationServices/NetToAS400/NetToAs400Service.svc/soap" behaviorConfiguration="noneSecureEndpointBehavior" binding="wsHttpBinding" contract="SynchronizationServices.NetToAS400Service"/>
      <endpoint address="net.tcp://localhost:8082/services/financien/common/JuridischeEntiteitService.svc" binding="netTcpBinding" contract="Remmicom.Financien.Common.Security.JuridischeEntiteit.IJuridischeEntiteitService" />
      <endpoint address="net.tcp://localhost:8082/services/financien/common/RoleService.svc" binding="netTcpBinding" contract="Remmicom.Financien.Boekhouding.Services.Contracts.Services.IRoleService" />
    </client>
    <protocolMapping>
      <add scheme="http" binding="wsHttpBinding" bindingConfiguration="secureBinding"/>
      <add scheme="net.tcp" binding="netTcpBinding" bindingConfiguration="secureBinding"/>
    </protocolMapping>
    <services>
      <service behaviorConfiguration="ServiceBehavior" name="Remmicom.Financien.Derden.Services.SynchronizationServices.AS400ToNet.AS400ToNetService">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="Remmicom.Financien.Derden.Services.SynchronizationServices.AS400ToNet.AS400ToNetService"/>
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="Remmicom.Financien.Derden.Services.SynchronizationServices.NetToAS400.NetToAS400Service">
        <endpoint address="" binding="webHttpBinding" contract="Remmicom.Financien.Derden.Services.SynchronizationServices.NetToAS400.NetToAS400Service" behaviorConfiguration="web"/>
        <endpoint address="soap" binding="wsHttpBinding" contract="Remmicom.Financien.Derden.Services.SynchronizationServices.NetToAS400.NetToAS400Service" behaviorConfiguration="noneSecureEndpointBehavior"/>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="LargeEndpointBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
        <behavior>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
          <OpenSecurityPolicy/>
        </behavior>
        <behavior name="noneSecureEndpointBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
        <behavior name="web">
          <remove name="OpenSecurityPolicy"/>
          <!-- uitschakelen voor sync over services heen -->
          <webHttp helpEnabled="true"/>
          <AS400ToNetIdentityPolicy>
            <ExcludedQueries>
              <add Query="help" />
            </ExcludedQueries>
          </AS400ToNetIdentityPolicy>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <ServiceResolverServiceBehaviorExtensionElement/>
          <ExceptionPolicy/>
        </behavior>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
          <!--<LoggingBehaviorExtensionElement/>-->
          <ServiceResolverServiceBehaviorExtensionElement/>
          <ExceptionPolicy/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="LoggingBehaviorExtensionElement" type="Remmicom.Financien.Common.LoggingBehaviorExtensionElement, Remmicom.Financien.Common"/>
        <add name="ServiceResolverServiceBehaviorExtensionElement" type="Remmicom.Financien.Services.Common.ServiceResolverServiceBehaviorExtensionElement, Remmicom.Financien.Services.Common"/>
        <add name="ExceptionPolicy" type="Remmicom.Financien.Services.Common.ExceptionArchitecture.ExceptionPolicyElement, Remmicom.Financien.Services.Common"/>
        <add name="OpenSecurityPolicy" type="Remmicom.Financien.Services.Common.Security.Wcf.OpenSecurity.ServiceOpenSecurityElement, Remmicom.Financien.Services.Common"/>
        <add name="AS400ToNetIdentityPolicy" type="Remmicom.Financien.Services.Common.Wcf.AS400ToNetIdentityPolicyBehaviorExtensionElement, Remmicom.Financien.Services.Common"/>
      </behaviorExtensions>
    </extensions>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="false"/>
  </system.serviceModel>
  <exceptionHandling>
    <exceptionPolicies>
      <add name="ServicePolicy">
        <exceptionTypes>
          <add type="Remmicom.Financien.Legacy.Common.ExceptionArchitecture.RemmicomException, Remmicom.Financien.Legacy.Common" postHandlingAction="ThrowNewException" name="RemmicomException">
            <exceptionHandlers>
              <add type="Remmicom.Financien.Common.Entlib.ExceptionHandlers.ExceptionLogHandler, Remmicom.Financien.Common.Entlib" name="Remmicom ExceptionLogHandler"/>
              <add name="Remmicom ExceptionFaultExceptionMappingHandler" type="Remmicom.Financien.Services.Common.ExceptionArchitecture.ExceptionFaultExceptionMappingHandler, Remmicom.Financien.Services.Common"/>
            </exceptionHandlers>
          </add>
          <add type="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="ThrowNewException" name="Exception">
            <exceptionHandlers>
              <add type="Remmicom.Financien.Common.Entlib.ExceptionHandlers.ExceptionLogHandler, Remmicom.Financien.Common.Entlib" name="Remmicom ExceptionLogHandler"/>
              <add name="Remmicom ExceptionFaultExceptionMappingHandler" type="Remmicom.Financien.Services.Common.ExceptionArchitecture.ExceptionFaultExceptionMappingHandler, Remmicom.Financien.Services.Common"/>
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
    </exceptionPolicies>
  </exceptionHandling>
  <loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="Logging" logWarningsWhenNoCategoriesMatch="false">
    <listeners>
      <add name="WebServiceTraceListener" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.CustomTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" traceOutputOptions="None" type="Remmicom.Financien.Common.Entlib.TraceListeners.WebServiceTraceListener, Remmicom.Financien.Common.Entlib" initializeData="" source="Financien.net Server Logging"/>
      <add name="EventLogListener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" source="Financien.net Server Logging" formatter="Text Formatter" log="" machineName="." traceOutputOptions="None"/>
      <add name="SVCLogTraceListener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" fileName="Logging\trace.svclog" formatter="Remmicom XML Formatter" traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, ProcessId, ThreadId, Callstack" rollInterval="Day" rollSizeKB="10000" timeStampPattern="yyyyMMdd" rollFileExistsBehavior="Increment"/>
      <add name="FlatFileTraceListener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" fileName="Logging\trace.log" formatter="Text Formatter" traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, ProcessId, ThreadId, Callstack" rollInterval="Day" rollSizeKB="10000" timeStampPattern="yyyyMMdd" rollFileExistsBehavior="Increment"/>
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging" template="Timestamp: {timestamp}{newline}&#xA;Message: {message}{newline}&#xA;Category: {category}{newline}&#xA;Priority: {priority}{newline}&#xA;EventId: {eventid}{newline}&#xA;Severity: {severity}{newline}&#xA;Title:{title}{newline}&#xA;Machine: {localMachine}{newline}&#xA;App Domain: {localAppDomain}{newline}&#xA;ProcessId: {localProcessId}{newline}&#xA;Process Name: {localProcessName}{newline}&#xA;Thread Name: {threadName}{newline}&#xA;Win32 ThreadId:{win32ThreadId}{newline}&#xA;Extended Properties: {dictionary({key} - {value}{newline})}" name="Text Formatter"/>
      <add type="Remmicom.Financien.Common.Entlib.Logging.TraceXmlFormatter, Remmicom.Financien.Common.Entlib" name="Remmicom XML Formatter"/>
    </formatters>
    <categorySources>
      <add switchValue="Error" name="Error">
        <listeners>
          <add name="SVCLogTraceListener"/>
          <add name="WebServiceTraceListener"/>
          <add name="EventLogListener"/>
        </listeners>
      </add>
      <add switchValue="Information, Warning, Verbose, ActivityTracing" name="Logging">
        <listeners>
          <add name="SVCLogTraceListener"/>
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="Error" name="All Events"/>
      <notProcessed switchValue="Error" name="Unprocessed Category"/>
      <errors switchValue="Error" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="SVCLogTraceListener"/>
          <add name="WebServiceTraceListener"/>
          <add name="EventLogListener"/>
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>